body {
  background-color: black;
  text-align: center;
}
.heading h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white;
}
.heading a {
  color: aquamarine;
  font-size: 16px;
}
.video video {
  height: 300px;
  margin-top: 10px;
}
